aiohttp==3.13.5
ccxt==4.5.52
cryptography==48.0.0
docker_py==1.10.6
fastapi==0.136.1
loguru==0.7.3
manifest==0.6.0
matplotlib==3.10.9
prometheus_client==0.25.0
pydantic==2.13.4
pydantic_settings==2.14.1
pytest==9.0.3
python-telegram-bot==22.7
PyYAML==6.0.3
redis==7.4.0
Requests==2.33.1
uvicorn==0.46.0
web3==7.16.0
numpy
python-dotenv
scipy
urllib3
#llama-cpp-python
pytest-asyncio
google-generativeai
